 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 
 
 a{
    text-decoration: none;
 }
 ul,ol{
    list-style: none;
 }
 
 
 /* navbar start */

 nav{
    background-color: #1C1E53 ;
    padding: 31px 0px !important;
 }
 nav ul{
    column-gap: 32px;
 }
 nav .nav-link{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
    position: relative;

    
 }
 nav .nav-link:hover{
    color: #fff;
 }
 nav .nav-link::after{
   width: 0%;
   height: 2px;
   position: absolute;
   background-color: white;
   left: 0px;
   bottom: 7px;
   content: "";
   transition: 0.4s;
 }
 nav .nav-link:hover::after{
   width: 100%;
 }
 nav button{
    margin-left: 32px ;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif !important;
    padding: 16px 48px !important;
    border-radius: 41px !important;
    border-color: #F4F6FC !important;
    transition: 0.4s;

 }
 nav button:hover{
    background-color: #FCD980 !important;
    color: black !important;
 }

/* navbar end   */

/* banner section start */

.banner{
    background-color: #1C1E53;
    padding-top: 126px;
    padding-bottom: 128px;
}

.banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 74px;
    width: 582px;
    color: #fff;
}

.banner p{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 562px;
    color: rgba(255, 255, 255, 0.70);
    margin-top: 24px;
    margin-bottom: 48px;
}
.banner-button{
    color: black ;
    font-size: 18px ;
    font-weight: 600 ;
    background-color: #FCD980 ;
    font-family: "Poppins", sans-serif;
    padding: 16px 48px ;
    border-radius: 41px ;
    border: 1px solid transparent;
    transition: 0.4s;
}
.banner-button:hover{
    border-color: #FCD980 ;
    background-color: transparent;
    color: #FCD980;
}
.view-button{
    margin-left: 40px;
     color: white ;
    font-size: 16px ;
    font-weight: 600 ;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
    position: relative;
    display: inline-block;
}
.view-button i{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;

}
.view-button:hover i{
    right: -45px;
    opacity: 1;
    

}
/* banner section end */



/* work section start  */


.work-section{
   background-color: #F4F6FC;
   padding: 128px 0;
}
.work-section .text-Part h2{
    color: #282938 ;
    font-size: 48px ;
    font-weight: 600 ;
    font-family: "Poppins", sans-serif;
    width: 405px;
}
.work-section .text-Part p{
   margin: 16px 0;
   font-size: 16px ;
   color: rgb(40, 41, 56, 0.70);
   font-weight: 400 ;
   font-family: "Poppins", sans-serif;
   width: 405px;

}
.work-section .text-Part a{
   color: #2405F2;
   font-size: 18px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   position: relative;
}
.work-section .text-Part i{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;
}
.work-section .text-Part a:hover i{
    right: -45px;
    opacity: 1;
    
}
.work-section .card-Part .card{
   border: none;
   background-color: transparent;
   width: 328px;
}

.work-section .card-Part h6{
   color: #282938;
   font-size: 32px ;
   font-weight: 600 ;
   margin: 16px 0 8px 0;
   font-family: "Poppins", sans-serif;
}
.work-section .card-Part p{
   color: #282938;
   font-size: 16px ;
   font-weight: 400 ;
   width: 303;
   line-height: 28px;
   font-family: "Poppins", sans-serif;
}

/* work section end  */

/* work section start  */

.project{
   padding: 128px 0;
}
.project .top-part{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.project .top-part h3{
    color: #282938;
   font-size: 48px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
}
.project .top-part a{
   color: #282938;
   font-size: 16px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   position: relative;
}
.project .top-part i{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;
}
.project .top-part a:hover i{
    right: -45px;
    opacity: 1;
    
}

.project .img-Pat{
   margin-top: 64px;
}
.project .img-Left .webflow{
   width: 800px;
   height: 600px;
   overflow: hidden;
   position: relative;
   z-index: 1;
}
.project .img-Left .webflow img{
   width: 100%;
   height: 100%;

}

.project .img-Left .webflow .overlay{
   width: 370px;
   height: 600px;
   position: absolute;
   background-color: rgba(28, 30, 83, 0.80);
   left: 0;
   bottom: 0;
   content: "";
   position: absolute;
   transition: 0.6s;
}


.project .img-Left .webflow:hover .overlay{
   width: 800px;
   height: 600px;
}
.project .img-Left .webflow .overlay h3{
    color: #fff;
   font-size: 24px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   width: 313px;
}
.project .img-Left .webflow .overlay p{
    color: rgba(255, 255, 255,0.80);
   font-size: 16px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   width: 293px;
   margin: 16px 0 40px 0;
}
.project .img-Left .webflow .overlay a{
   color: #FCD980;
   font-size: 16px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   position: relative;
}
.project .img-Left .webflow .overlay i{
   position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;
}
.project .img-Left .webflow .overlay a:hover i{
    right: -45px;
    opacity: 1;

}
.project .img-Left .webflow .overlay .text{
  margin-top: 312px;
   margin-left: 0px;
   opacity: 0;
   transition: 0.4s;
}
.project .img-Left .webflow .overlay:hover .text{
   margin-top: 312px;
   margin-left: 48px;
   opacity: 1;
}
.project .unisaas{
   width: 405px;
   height: 284px;
   overflow: hidden;
   position: relative;
   z-index: 1;
}
.project .unisaas img{
   width: 100%;
   height: 100%;
}

.project .unisaas .overlay{
   width: 0%;
   height: 100%;
   position: absolute;
   background-color:transparent;
   left: 0;
   bottom: 0;
   content: "";
   position: absolute;
   transition: 0.6s;
}
.project .unisaas:hover .overlay{
   background-color:  rgba(28, 30, 83, 0.80);
   width: 100%;
}
.project .unisaas .overlay .unisaas-text{
   margin-top: 129px;
   margin-left: 0px;
   opacity: 0;
   transition: 0.4s;
}
.project .unisaas .overlay:hover .unisaas-text{
   margin-left: 56px;
   opacity: 1;
}
.project .unisaas h4{
    color: #fff;
   font-size: 24px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   width: 313px;
}
.project .unisaas .unisaas-text a{
   color: #FCD980;
   font-size: 16px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   position: relative;
}
.project .unisaas .unisaas-text i{
   position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;
}
.project .unisaas .unisaas-text a:hover i{
    right: -45px;
    opacity: 1;
}
.project .row-Img{
   margin-top: 32px;
}
.project .row-Img img{
   width: 405px;
   height: 284px;
}
/* work section end  */

/* problem solve section  start */

.problem-solve{
   padding: 128px 0;
   background-color: #F4F6FC;
}
.problem-solve .top-section h4{
   color: #282938;
   font-size: 48px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   width: 660px;
   line-height: 64px;
   margin-top: 12px;
   margin-bottom: 47px;
}

.problem-solve .top-section span{
   color: #282938;
   font-size: 16px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
}

.problem-solve .cards-section .card{
    width: 420px;
    border: none;
    background-color: white;
    border-radius: 0;
    transition:transform 0.5s ease;
}
.problem-solve .cards-section .card:hover{
   transform: translateY(-10px);
   box-shadow: 0 10px 25px rgba(36, 5, 242, 0.3);
}
.problem-solve .cards-section .card .card-body{
   padding: 58px 48px;
}

.problem-solve .cards-section .card h6{
    color: #282938;
   font-size: 24px ;
   font-weight: 600 ;
   margin: 12px 0 22px 0;
   font-family: "Poppins", sans-serif;
}

.problem-solve .cards-section .card p{
   color: rgba(40, 41, 56, 0.70);
   font-size: 16px ;
   font-weight: 400 ;
   width: 399;
   line-height: 28px;
   font-family: "Poppins", sans-serif;
}


/* problem solve section end */

 /* client about section start  */

.clients-about{
   padding: 130px 0;
   background-color: rgba(244, 246, 252, 0.5);
}
.clients-about .Left-text h4{
    color: #282938;
   font-size: 38px ;
   font-weight: 600 ;
   font-family: "Poppins", sans-serif;
   width: 327px;
   line-height: 54px;
   margin-bottom: 16px;
}
.clients-about .Left-text p{
   color: rgba(40, 41, 56, 0.70);
   font-size: 16px ;
   font-weight: 400 ;
   width: 327px ;
   line-height: 28px;
   font-family: "Poppins", sans-serif;
}
.clients-about .Right-text p{
   color: #282938;
   font-size: 32px ;
   font-weight: 400 ;
   width: 843;
   line-height: 48px;
   font-family: "Poppins", sans-serif;
}
.clients-about .Right-text .img-clicent{
   margin-top: 51px;
   align-items: center;
}
.clients-about .Right-text .img-clicent h6{
   color: #282938;
   font-size: 18px ;
   font-weight: 500 ;
   font-family: "Poppins", sans-serif;
}
.clients-about .Right-text .img-clicent span{
   color: #282938;
   font-size: 12px ;
   font-weight: 500 ;
   font-family: "Poppins", sans-serif;
}



 /* client about section end */

 /* Frequently section start */

 .frequently{
   padding:128px 0;
 }
 .frequently .Left-part h6{
   color: #282938;
   font-size: 38px ;
   font-weight: 600 ;
   width: 328;
   line-height: 56px;
   font-family: "Poppins", sans-serif;
 }
 .frequently .Left-part a{
    color: rgba(36, 5, 242, 0.80);
   font-size: 18px ;
   font-weight: 500 ;
   line-height: 32px;
   font-family: "Poppins", sans-serif;
   margin-top: 16px;
 }
 .frequently .Left-part a:hover{
   color: #2405F2;
   cursor: pointer;
 }

 .frequently .Right-part .accordion-item{
   border-left: 0;
   border-right: 0;
 }
 /* Frequently section end */


































































@media (min-width:320px) and (max-width:575.99px){
   .banner{
    padding-top: 70px;
    padding-bottom: 90px;
}

.banner h1{
    font-size: 25px;
    width: 300px;
    line-height: 40px;
    text-align: center;
    margin-left:-3%;
}
.banner p{
   font-size: 12px;
    line-height: 18px;
    width: 250px;
    text-align: center;
    margin-left: 8%;
}
.banner-button{
    font-size: 10px ;
    padding: 10px 22px ;
}
.view-button{
    margin-left: 30px;
    font-size: 12px ;
}

.banner .Righ{
   display: none;
}

.work-section{
   background-color: #F4F6FC;
   padding: 100px 0;
}

.work-section .text-Part h2{
    font-size: 28px ;
}
.work-section .text-Part p{
   font-size: 12px ;
   width: 250px;

}
.work-section .text-Part a{
   font-size: 12px;
}
.work-section .card-Part .card{
   width: 300px;
   margin-top: 30px;
}

.work-section .card-Part h6{
   font-size: 25px ;
}
.work-section .card-Part p{
   font-size: 12px ;
}
.project{
   padding: 100px 0;
}
.project .top-part{
   flex-direction: column;
}
.project .top-part h3{
   font-size: 25px ;
}
.project .top-part a{
 font-size: 12px ;
}
.project .img-Left .webflow{
   width: 300px;
   height: 250px;
   margin-bottom: 20px;
}
.project .img-Left .webflow img{
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.project .img-Left .webflow .overlay{
   width: 200px;
   height: 250px;
}


.project .img-Left .webflow:hover .overlay{
   width: 300px;
   height: 250px;
}
.project .img-Left .webflow .overlay h3{
   font-size: 18px ;
   width: 250px;
}
.project .img-Left .webflow .overlay p{
   font-size: 12px ;
   width: 250px;
}
.project .img-Left .webflow .overlay a{
   font-size: 12px ;
}
.project .img-Left .webflow .overlay .text{
  margin-top: 50px;

}
.project .img-Left .webflow .overlay:hover .text{
   margin-top: 50px;
   margin-left: 28px;
   opacity: 1;
}
.project .unisaas{
   width: 300px;
   height: 250px;
}
.project .unisaas .overlay .unisaas-text{
   margin-top: 100px;
}
.project .unisaas .overlay:hover .unisaas-text{
   margin-left: 26px;

}
.project .unisaas h4{
   font-size: 18px ;
   width: 300px;
}
.project .unisaas .unisaas-text a{
   font-size: 12px ;
}
.project .row-Img img{
   width: 300px;
   height: 250px;
}

.problem-solve{
   padding: 100px 0;
}
.problem-solve .top-section h4{
   font-size: 28px ;
   width: 660px;
   line-height: 34px;
   margin-top: 10px;
   margin-bottom: 40px;
}

.problem-solve .top-section span{
   font-size: 12px ;
}
.problem-solve .cards-section .card{
    width: 300px;
    margin-bottom: 20px;
}
.problem-solve .cards-section .card .card-body{
   padding: 28px 18px;
}
.problem-solve .cards-section .card h6{
   font-size: 18px;
   margin: 8px 0 15px 0;
}

.problem-solve .cards-section .card p{
   font-size: 12px ;
   width: 290;
   line-height: 25px;

}
.clients-about{
   padding: 80px 0;
}
.clients-about .Left-text h4{
   font-size: 28px ;
   width: 300px;
   line-height: 34px;
   text-align: center;
}
.clients-about .Left-text p{
   font-size: 12px ;
   width: 300px ;
   line-height: 18px;
   text-align: center;
}
.clients-about .Right-text p{
   font-size: 25px ;
   width: 300;
   line-height: 38px;
   text-align: center;
}
.clients-about .Right-text .img-clicent{
   margin-top: 51px;
   align-items: center;
   display: flex;
   justify-content: center;
}
.frequently{
   padding:100px 0;
 }
 .frequently .Left-part h6{
   font-size: 28px ;
   width: 300;
   line-height: 46px;
   text-align: center;
 }
 .frequently .Left-part a{
   font-size: 18px ;
   line-height: 32px;
   margin-top: 16px;
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
 }







}