 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 
 
 a{
    text-decoration: none;
 }
 ul,ol{
    list-style: none;
 }
 
 
 /* navbar start */

 nav{
    background-color: #1C1E53 ;
    padding: 31px 0px !important;
 }
 nav ul{
    column-gap: 32px;
 }
 nav .nav-link{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;

    
 }
 nav .nav-link:hover{
    color: #fff;
 }
 nav button{
    margin-left: 32px ;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif !important;
    padding: 16px 48px !important;
    border-radius: 41px !important;
    border-color: #F4F6FC !important;
    transition: 0.4s;

 }
 nav button:hover{
    background-color: #FCD980 !important;
    color: black !important;
 }

/* navbar end   */

/* banner section start */

.banner{
    background-color: #1C1E53;
    padding-top: 126px;
    padding-bottom: 128px;
}

.banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 74px;
    width: 582px;
    color: #fff;
}

.banner p{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 562px;
    color: rgba(255, 255, 255, 0.70);
    margin-top: 24px;
    margin-bottom: 48px;
}
.banner-button{
    color: black ;
    font-size: 18px ;
    font-weight: 600 ;
    background-color: #FCD980 ;
    font-family: "Poppins", sans-serif;
    padding: 16px 48px ;
    border-radius: 41px ;
    border: 1px solid transparent;
    transition: 0.4s;
}
.banner-button:hover{
    border-color: #FCD980 ;
    background-color: transparent;
    color: #FCD980;
}
.view-button{
    margin-left: 40px;
     color: white ;
    font-size: 16px ;
    font-weight: 600 ;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
    position: relative;
    display: inline-block;
}
.view-button i{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    
    opacity: 0;

}
.view-button:hover i{
    right: -45px;
    opacity: 1;
    

}
/* banner section end */